.main-container{
    margin: 0 auto;
    width: 1000px;
}

section{
    display:block;
    margin-left: 62px;
}

header{
    background-color: #dbdbdb;
    padding: 16px 10px 16px 43px;
}

p{
    color: #666;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 25px;
}

header p:last-child{
    text-transform: uppercase;
    color: #444;
    font-weight: 600;
}

.tile-content{
    margin-top: 25px;
}

.tiles{
    display: inline-block;
    width: 25%;
    margin-bottom: 35px;
}